<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Address</key>
	<dict/>
	<key>PaymentResultForUserID-JSON</key>
	<string>https://jsonblob.com/api/jsonBlob/6068b4e6-e3e5-11e7-9f58-7191b60b59fb</string>
	<key>PaymentResultForUserID-Editor</key>
	<string>https://jsonblob.com/6068b4e6-e3e5-11e7-9f58-7191b60b59fb</string>
	<key>KeysQstRelease (empty)</key>
	<dict>
		<key>public_key</key>
		<string></string>
		<key>private_key</key>
		<string></string>
	</dict>
	<key>KeysTestYaroslavAnitka</key>
	<dict>
		<key>public_key</key>
		<string>i70736266972</string>
		<key>private_key</key>
		<string>qgZXq7tGgxhX37agAhzwYifeTqkg0jfLIZMlIEFZ</string>
	</dict>
</dict>
</plist>
