<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>276791706669-sg2hnsjblp508gr7ahbl8v5dtrjg3cmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276791706669-sg2hnsjblp508gr7ahbl8v5dtrjg3cmn</string>
	<key>API_KEY</key>
	<string>AIzaSyDOxIyGNg148d5OHGiOhkiqVRZjg39bGMU</string>
	<key>GCM_SENDER_ID</key>
	<string>276791706669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diglabstudio.QuitSmokingTogether</string>
	<key>PROJECT_ID</key>
	<string>quit-smoking-together</string>
	<key>STORAGE_BUCKET</key>
	<string>quit-smoking-together.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276791706669:ios:ca3dc8ac6a6d4bef</string>
	<key>DATABASE_URL</key>
	<string>https://quit-smoking-together.firebaseio.com</string>
</dict>
</plist>