
body {
    background-color: white;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.66;
    word-wrap: break-word;
}

strong, b {
    font-weight: bold;
}

p {
    margin-bottom: 24px;
    line-height: 26px;
    display: block;
    padding: 0;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-top: 15pt;
}

/* Donate Button like in iOS App */
.app-button {
    color: white;
    display: block;
    padding: 5pt 15pt;
    border-radius: 10px;
    background-color: #5EBC36;
    text-decoration: none !important;
    
    text-align: center;
    vertical-align: middle;
}

a.app-button:hover, a.app-button:active {
    color: white !important;
    text-decoration: none !important;
}

